@import url("//hello.myfonts.net/count/307e59");

@font-face {
    font-family: 'LFTEtica-Regular';
    src: url('../fonts/307E59_1_0.eot');
    src: url('../fonts/307E59_1_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/307E59_1_0.woff2') format('woff2'),
    url('../fonts/307E59_1_0.woff') format('woff'),
    url('../fonts/307E59_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'LFTEtica-Bold';
    src: url('../fonts/307E59_0_0.eot');
    src: url('../fonts/307E59_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/307E59_0_0.woff2') format('woff2'),
    url('../fonts/307E59_0_0.woff') format('woff'),
    url('../fonts/307E59_0_0.ttf') format('truetype');
}